body
{
    margin:0;
}
.box
{
    color:white;
    font-size:90px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,1);
    padding:10px;

 }
.box1
{
    background-color: rgb(47, 255, 57);
    font-size:100px;
}
.box2
{
    background-color: red;
    font-size:130px;
}
.box3
{
    background-color: rgba(0, 247, 255, 0.432);
    font-size:160px;
}
.box4
{
    background-color: palevioletred;
    font-size:190px;

}
.box5
{
    background-color:blue;
    
}
.box6
{
    background-color: orange;
}
.box7
{
    background-color: purple;
}
.box8
{
    background-color:yellow;
}
.box9
{
    background-color: grey;
}
.box10
{
    background-color: rgb(188, 143, 160);
}
.container
{
    display: flex;
    order:10px solid mistyrose;
    align-items: baseline;
    min-height:100vh; 

}